* {
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.fda-nutrition-label {
  display: inline-block;
  vertical-align: top;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16;
  line-height: 1em;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
}

.fda-nutrition-label b {
  font-family: "Arial Black", Arial, sans-serif;
  font-weight: 800;
}

.fda-nutrition-label .dv-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.4em;
}

.fda-nutrition-label .dv-row.indent {
  padding-left: 1em;
}

.fda-nutrition-label .dv-row.indent-2 {
  margin-left: 2em;
}

.fda-nutrition-label--section {
  line-height: 0.9em;
}

.fda-nutrition-label--section + .fda-nutrition-label--section {
  margin-top: 4px;
}

.fda-nutrition-label--section.title {
  font-size: 2.25em;
  white-space: nowrap;
  letter-spacing: -0.02em;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.fda-nutrition-label--section.servings {
  font-size: 1.125em;
  padding-bottom: 4px;
  border-bottom: 15px solid black;
}

.fda-nutrition-label--section.calories, .fda-nutrition-label--section.vitamins {
  border-bottom: 7px solid black;
}

.fda-nutrition-label--section.calories {
  padding-bottom: 6px;
}

.fda-nutrition-label--section.calories .dv-row {
  font-size: 32px;
  line-height: 0.9em;
}

.fda-nutrition-label--section.calories .dv-row div:last-child {
  font-size: 1.25em;
}

.fda-nutrition-label--section.dv {
  border-bottom: 15px solid black;
}

.fda-nutrition-label--section.dv .dv-row {
  font-size: 0.9375em;
  border-top: 2px solid black;
}

.fda-nutrition-label--section.dv .dv-row.indent, .fda-nutrition-label--section.dv .dv-row.indent-2 {
  border-top: 1px solid black;
}

.fda-nutrition-label--section.dv .dv-row:first-of-type {
  border-top: none;
}

.fda-nutrition-label--section.vitamins .dv-row {
  font-size: 0.9375em;
  border-bottom: 1px solid black;
}

.fda-nutrition-label--section.vitamins .dv-row:first-of-type {
  border-bottom: 2px solid black;
}

.fda-nutrition-label--section.vitamins .dv-row:last-of-type {
  border-bottom: none;
}

.fda-nutrition-label--section.disclaimer {
  position: relative;
  font-size: 0.75em;
  padding-left: 0.6em;
  line-height: 1.2em;
}

.fda-nutrition-label--section.disclaimer:before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0em;
}
